<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<style>
    .b{
        width: 800px;
        height: 800px;
        position: center;
    }
</style>
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>书籍详情</title>
</head>
<body>
<div class="container">
    <h3>Spring Data JPA练习 </h3>
    <legend>
        <strong>详情</strong>
    </legend>
    <div class="media-body"  >
    <div class="b">
        <p th:text="${book.bookName}"></p>
        <p th:text="${book.bookAuther}"></p>
        <p th:text="${book.bookIntroduce}"></p>
    </div>
    </div>
</div>
</body>
</html>